<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>{{meta.title}}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="{{meta.description}}" />

    {{>partials/style}}
  </head>

  <body class="{{meta.page}}">
    <div class="body">
      {{>partials/header}}

      <div class="main">
        {{#body}}
        {{>content}}
        {{/body}}
      </div>

      {{>partials/footer}}
    </div>

    {{>partials/script}}
  </body>
</html>